{
  "swagger": "2.0",
  "info": {
    "version": "1.1",
    "title": "Biometric API"
  },
  "host": "api.id.nec.com.au",
  "basePath": "/v1.1",
  "schemes": [
    "https"
  ],
  "paths": {
    "/face/extract": {
      "post": {
        "operationId": "ApiFaceExtractPost",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/ExtractResult"
            }
          },
          "404": {
            "description": "404 response"
          }
        },
        "security": [
          {
            "sigv4": []
          }
        ]
      },
      "options": {
        "responses": {
          "200": {
            "description": "200 response"
          }
        }
      }
    },
    "/face/search": {
      "post": {
        "operationId": "ApiFaceSearchPost",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/SearchResult"
            }
          },
          "404": {
            "description": "404 response"
          }
        },
        "security": [
          {
            "sigv4": []
          },
          {
            "api_key": []
          }
        ]
      },
      "options": {
        "responses": {
          "200": {
            "description": "200 response"
          }
        }
      }
    },
    "/face/verify": {
      "post": {
        "operationId": "ApiFaceVerifyPost",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Candidate"
            }
          },
          "404": {
            "description": "404 response"
          }
        },
        "security": [
          {
            "sigv4": []
          },
          {
            "api_key": []
          }
        ]
      },
      "options": {
        "responses": {
          "200": {
            "description": "200 response"
          }
        }
      }
    },
    "/health": {
      "get": {
        "responses": {
          "200": {
            "description": "200 response"
          }
        }
      },
      "options": {
        "responses": {
          "200": {
            "description": "200 response"
          }
        }
      }
    },
    "/jobs/bulkregister": {
      "post": {
        "operationId": "BulkRegister",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Job"
            }
          }
        },
        "security": [
          {
            "sigv4": []
          },
          {
            "api_key": []
          }
        ]
      },
      "options": {
        "responses": {
          "200": {
            "description": "200 response"
          }
        }
      }
    },
    "/jobs/bulkregister/{batchId}": {
      "get": {
        "operationId": "GetBulkRegisterProgress",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "batchId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/JobSummary"
            }
          }
        },
        "security": [
          {
            "sigv4": []
          },
          {
            "api_key": []
          }
        ]
      },
      "options": {
        "parameters": [
          {
            "name": "pagingId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "batchId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response"
          }
        }
      }
    },
    "/jobs/bulkregister/{batchId}/{pagingId}": {
      "get": {
        "operationId": "GetBulkRegisterProgressPaged",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pagingId",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "batchId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/JobSummary"
            }
          }
        },
        "security": [
          {
            "sigv4": []
          },
          {
            "api_key": []
          }
        ]
      },
      "options": {
        "parameters": [
          {
            "name": "pagingId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "batchId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response"
          }
        }
      }
    },
    "/subjects": {
      "get": {
        "operationId": "ApiSubjectsGet",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/SubjectList"
            }
          }
        },
        "security": [
          {
            "sigv4": []
          },
          {
            "api_key": []
          }
        ]
      },
      "post": {
        "operationId": "ApiSubjectsPost",
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "201 response",
            "schema": {
              "$ref": "#/definitions/Subject"
            }
          }
        },
        "security": [
          {
            "sigv4": []
          },
          {
            "api_key": []
          }
        ]
      },
      "options": {
        "responses": {
          "200": {
            "description": "200 response"
          }
        }
      }
    },
    "/subjects/{subjectId}": {
      "put": {
        "operationId": "ApiSubjectsByIdPut",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "subjectId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Subject"
            }
          },
          "404": {
            "description": "404 response"
          }
        },
        "security": [
          {
            "sigv4": []
          },
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "operationId": "ApiSubjectsByIdDelete",
        "parameters": [
          {
            "name": "subjectId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "204 response"
          },
          "404": {
            "description": "404 response"
          }
        },
        "security": [
          {
            "sigv4": []
          },
          {
            "api_key": []
          }
        ]
      },
      "options": {
        "parameters": [
          {
            "name": "subjectId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response"
          }
        }
      }
    },
    "/subjects/{subjectId}/events": {
      "get": {
        "operationId": "ApiSubjectsByIdEventsGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "subjectId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Events"
            }
          },
          "404": {
            "description": "404 response"
          }
        },
        "security": [
          {
            "sigv4": []
          },
          {
            "api_key": []
          }
        ]
      },
      "post": {
        "operationId": "ApiSubjectsByIdEventsPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "subjectId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "201 response",
            "schema": {
              "$ref": "#/definitions/Event"
            }
          },
          "404": {
            "description": "404 response"
          }
        },
        "security": [
          {
            "sigv4": []
          },
          {
            "api_key": []
          }
        ]
      },
      "options": {
        "parameters": [
          {
            "name": "subjectId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response"
          }
        }
      }
    },
    "/subjects/{subjectId}/events/{eventId}": {
      "put": {
        "operationId": "ApiSubjectsByIdEventByIdPut",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "subjectId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Event"
            }
          },
          "404": {
            "description": "404 response"
          }
        },
        "security": [
          {
            "sigv4": []
          },
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "operationId": "ApiSubjectsByIdEventByIdDelete",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "subjectId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "204 response"
          },
          "404": {
            "description": "404 response"
          }
        },
        "security": [
          {
            "sigv4": []
          },
          {
            "api_key": []
          }
        ]
      },
      "options": {
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "subjectId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response"
          }
        }
      }
    },
    "/tags": {
      "get": {
        "operationId": "Get",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Tag"
            }
          }
        },
        "security": [
          {
            "sigv4": []
          },
          {
            "api_key": []
          }
        ]
      },
      "options": {
        "responses": {
          "200": {
            "description": "200 response"
          }
        }
      }
    },
    "/tags/{name}": {
      "post": {
        "operationId": "CreateTag",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response"
          }
        },
        "security": [
          {
            "sigv4": []
          },
          {
            "api_key": []
          }
        ]
      },
      "put": {
        "operationId": "UpdateTag",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response"
          }
        },
        "security": [
          {
            "sigv4": []
          },
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "operationId": "DeleteTag",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response"
          }
        },
        "security": [
          {
            "sigv4": []
          },
          {
            "api_key": []
          }
        ]
      },
      "options": {
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "x-api-key",
      "in": "header"
    },
    "sigv4": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "x-amazon-apigateway-authtype": "awsSigv4"
    }
  },
  "definitions": {
    "Candidate": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "score": {
          "type": "integer",
          "format": "int32"
        },
        "events": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Event"
          }
        }
      }
    },
    "JobSummary": {
      "type": "object",
      "properties": {
        "batchId": {
          "type": "string"
        },
        "processed": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/JobStatus"
          }
        },
        "lastEvaluatedKey": {
          "type": "string"
        }
      }
    },
    "JobStatus": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "filename": {
          "type": "string"
        },
        "attempts": {
          "type": "integer",
          "format": "int32"
        },
        "eventId": {
          "type": "string"
        },
        "subjectId": {
          "type": "string"
        },
        "registerStatus": {
          "type": "string"
        },
        "reason": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "attributesJson": {
          "type": "string"
        }
      }
    },
    "Events": {
      "type": "object",
      "properties": {
        "events": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Event"
          }
        }
      }
    },
    "Attributes": {
      "type": "object",
      "properties": {
        "faceArea": {
          "type": "object",
          "properties": {
            "left": {
              "type": "string"
            },
            "top": {
              "type": "string"
            },
            "right": {
              "type": "string"
            },
            "bottom": {
              "type": "string"
            }
          }
        },
        "headArea": {
          "type": "object",
          "properties": {
            "left": {
              "type": "string"
            },
            "top": {
              "type": "string"
            },
            "right": {
              "type": "string"
            },
            "bottom": {
              "type": "string"
            }
          }
        },
        "rightEyeCenter": {
          "type": "object",
          "properties": {
            "x": {
              "type": "string"
            },
            "y": {
              "type": "string"
            }
          }
        },
        "leftEyeCenter": {
          "type": "object",
          "properties": {
            "x": {
              "type": "string"
            },
            "y": {
              "type": "string"
            }
          }
        },
        "frontalFaceScore": {
          "type": "string"
        },
        "faceRoll": {
          "type": "string"
        },
        "facePan": {
          "type": "string"
        },
        "faceTilt": {
          "type": "string"
        },
        "faceScore": {
          "type": "string"
        },
        "faceQualityScore": {
          "type": "string"
        }
      }
    },
    "Event": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "score": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "SearchResult": {
      "type": "object",
      "properties": {
        "candidates": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Candidate"
          }
        },
        "attributes": {
          "$ref": "#/definitions/Attributes"
        }
      }
    },
    "SubjectList": {
      "type": "object",
      "properties": {
        "subjects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Subject"
          }
        },
        "total": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Tag": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "Job": {
      "type": "object",
      "properties": {
        "batchId": {
          "type": "string"
        }
      }
    },
    "ExtractResult": {
      "type": "object",
      "properties": {
        "faces": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Attributes"
          }
        }
      }
    },
    "Subject": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "eventId": {
          "type": "string"
        },
        "attributes": {
          "$ref": "#/definitions/Attributes"
        }
      }
    }
  }
}