{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Biometric API"
  },
  "host": "api.id.nec.com.au",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "paths": {
    "/face/extract": {
      "post": {
        "operationId": "ApiFaceExtractPost",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/ExtractResult"
            }
          },
          "404": {
            "description": "404 response"
          }
        },
        "security": [
          {
            "sigv4": []
          },
          {
            "api_key": []
          }
        ]
      },
      "options": {
        "responses": {
          "200": {
            "description": "200 response"
          }
        }
      }
    },
    "/face/search": {
      "post": {
        "operationId": "ApiFaceSearchPost",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/SearchResult"
            }
          },
          "404": {
            "description": "404 response"
          }
        },
        "security": [
          {
            "sigv4": []
          },
          {
            "api_key": []
          }
        ]
      },
      "options": {
        "responses": {
          "200": {
            "description": "200 response"
          }
        }
      }
    },
    "/face/verify": {
      "post": {
        "operationId": "ApiFaceVerifyPost",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Candidate"
            }
          },
          "404": {
            "description": "404 response"
          }
        },
        "security": [
          {
            "sigv4": []
          },
          {
            "api_key": []
          }
        ]
      },
      "options": {
        "responses": {
          "200": {
            "description": "200 response"
          }
        }
      }
    },
    "/health": {
      "get": {
        "responses": {
          "200": {
            "description": "200 response"
          }
        }
      },
      "options": {
        "responses": {
          "200": {
            "description": "200 response"
          }
        }
      }
    },
    "/subjects": {
      "post": {
        "operationId": "ApiSubjectsPost",
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "201 response",
            "schema": {
              "$ref": "#/definitions/Subject"
            }
          }
        },
        "security": [
          {
            "sigv4": []
          },
          {
            "api_key": []
          }
        ]
      },
      "options": {
        "responses": {
          "200": {
            "description": "200 response"
          }
        }
      }
    },
    "/subjects/{id}": {
      "put": {
        "operationId": "ApiSubjectsByIdPut",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Subject"
            }
          },
          "404": {
            "description": "404 response"
          }
        },
        "security": [
          {
            "sigv4": []
          },
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "operationId": "ApiSubjectsByIdDelete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "204 response"
          },
          "404": {
            "description": "404 response"
          }
        },
        "security": [
          {
            "sigv4": []
          },
          {
            "api_key": []
          }
        ]
      },
      "options": {
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "x-api-key",
      "in": "header"
    },
    "sigv4": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "x-amazon-apigateway-authtype": "awsSigv4"
    }
  },
  "definitions": {
    "Candidate": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "score": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Attributes": {
      "type": "object",
      "properties": {
        "faceArea": {
          "type": "object",
          "properties": {
            "left": {
              "type": "string"
            },
            "top": {
              "type": "string"
            },
            "right": {
              "type": "string"
            },
            "bottom": {
              "type": "string"
            }
          }
        },
        "headArea": {
          "type": "object",
          "properties": {
            "left": {
              "type": "string"
            },
            "top": {
              "type": "string"
            },
            "right": {
              "type": "string"
            },
            "bottom": {
              "type": "string"
            }
          }
        },
        "rightEyeCenter": {
          "type": "object",
          "properties": {
            "x": {
              "type": "string"
            },
            "y": {
              "type": "string"
            }
          }
        },
        "leftEyeCenter": {
          "type": "object",
          "properties": {
            "x": {
              "type": "string"
            },
            "y": {
              "type": "string"
            }
          }
        },
        "frontalFaceScore": {
          "type": "string"
        },
        "faceRoll": {
          "type": "string"
        },
        "facePan": {
          "type": "string"
        },
        "faceTilt": {
          "type": "string"
        },
        "faceScore": {
          "type": "string"
        },
        "faceQualityScore": {
          "type": "string"
        }
      }
    },
    "SearchResult": {
      "type": "object",
      "properties": {
        "candidates": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Candidate"
          }
        },
        "attributes": {
          "$ref": "#/definitions/Attributes"
        }
      }
    },
    "ExtractResult": {
      "type": "object",
      "properties": {
        "faces": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Attributes"
          }
        }
      }
    },
    "Subject": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "attributes": {
          "$ref": "#/definitions/Attributes"
        }
      }
    }
  }
}